**/target/
*.prefs
.idea/
*.iml
target/
classes/
lib/
MANIFEST.MF
.settings/
.project
.classpath
.mymetadata
**/*.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
goods-parent.iml
*.log
logs/
###
